# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          symfony
    database_user:          root
    database_password:      ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:       smtp
    mailer_host:            smtp.mailgun.org
    mailer_user:            postmaster@sandboxcc3f274c19bc4634bd6f0201f589d684.mailgun.org
    mailer_password:        ae5516d07b291e3b65d0da16ce6c2562

    # A secret key that's used to generate certain security-related tokens
    secret:                 ThisTokenIsNotSoSecretChangeIt

    qualitas_username: alvaro535
    qualitas_password: qkxb4huv
    qualitas_geo_radio: 500

    findness_search_charge: 0.15