<div>
    <p>&iexcl;Hola {{ name }}, bienvenido a bordo!</p>
    <p>Gracias por registrarte en Findness.</p>
    <p>Por favor confirma tu email introduciendo el siguiente c&oacute;digo de confirmaci&oacute;n en tu aplicaci&oacute;n m&oacute;vil.</p>
    <p>C&oacute;digo de confirmaci&oacute;n: <b>{{ confirmationToken }}</b></p>
    <p>Un Saludo.</p>
    <p>Findness Team.</p>
</div>