<div>
    Dear {{ name }}
</div>
<div>
    Thanks for registering with Findness
</div>
<div>
    Please confirm your account entering the following confirmation token on the app.
</div>
<div>
    Your confirmation token is: {{ confirmationToken }}
</div>
<div>
    Thanks
</div>