<div>
    Querido/a {{ name }}
</div>
<div>
    Gracias por registrarte con Findness
</div>
<div>
    Por favor confirma tu email entrando el siguiente número de confirmacíon en la applicacíon mobil.
</div>
<div>
    Su código de confirmacíon es: {{ confirmationToken }}
</div>
<div>
    Muchas Gracias
</div>